@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 248, 244, 236;
  --background-end-rgb: 248, 244, 236;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}
